body {
    font-family: 'Montserrat', sans-serif;
}

header {
    color: #6ec4db;
    align-self: center;
}

main {
    align-self: center;
}
#short-story {
    grid-area: short;
}
#developers {
    grid-area: dev;
}

.small-header {
   color: #6ec4db;
}

#logo-animation {
   grid-area: logo;
   animation: cubic-bezier(0.075, 0.82, 0.165, 1);
}


@media only screen and (min-width:321px) and (max-width:767px) { 
   body {
       font-size: 15px;
       display: grid;
       grid-template-areas:
           "header"
           "main";
       }
   header {
       grid-area: header;
   }
   main {
       grid-area: main;
       display: grid;
       grid-template-areas: 
           "dev logo"
           "short logo";
   }
   .small-header {
       font-size: 20px;
   }

   #short-story , #developers {
       margin-bottom: 10px;
   }

   #logo-svg {
       right: 5em;
       top: 3em;
       width: 70%;
   }
}

@media only screen and (min-width:768px) and (max-width:959px) { 
   body {
       font-size: 15px;
       display: grid;
       grid-template-areas:
           "header"
           "main";
       }
   header {
       grid-area: header;
   }
   main {
       grid-area: main;
       display: grid;
       grid-template-areas: 
           "dev logo"
           "short logo";
   }
   .small-header {
       font-size: 27px;
   }

   #short-story , #developers {
       margin-bottom: 20px;
   }

   #logo-svg {
       margin-right: 5em;
       width: 70%;
   }
}

@media only screen and (min-width:959px) { 
   body {
       font-size: 20px;
       display: grid;
       grid-template-areas:
           "header"
           "main";
       }
   header {
       grid-area: header;
   }
   main {
       grid-area: main;
       display: grid;
       grid-template-areas: 
           "dev logo logo"
           "short logo logo"
           ". . .";
   }
   .small-header {
       font-size: 32px;
   }
   p{
       margin: 10px;
   }
   #short-story , #developers {
       margin-bottom: 30px;
   }

   #logo-svg {
       width: 500px;
       height: auto;
   }
}