body {
    font-family: 'Montserrat', sans-serif;
    line-height: 2em;
    font-size: 20px;
}

header {
    color: #6ec4db;
}

button {
    grid-area: button;
    display: block;
    background: white;
    font-size: 16px;
    color: #6ec4db;
    margin-top: 1em;
    padding: 0.7em 1.5em;
    border: solid 2px #6ec4db;
}

button:hover {
    border-color: #66ab8c;
    color: #66ab8c;
}

button:active {
    border-color: #fa7c92;
    color: #fa7c92;
}

h1 {
    font-size: 2em;
    margin-block-start: 2em;
    margin-block-end: 0.67em;
    margin-inline-start: 1em;
    margin-inline-end: 0px;
    font-weight: bold;
}

textarea {
    width: 60%;
    height: 150px;
    padding: 12px 20px;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 4px;
    background-color: #f8f8f8;
    font-size: 16px;
    font-family: inherit;
    resize: none;
}

input {
    display: inline;
    margin: 0;
    border: none;
    font-size: inherit;
}

@media only screen and (min-width: 601px) { 
    main {
        display: grid;
        grid-template-areas: 
        ". pet-form pet-setup";
        grid-template-columns:0.5fr 2fr 2fr;
    }

    #new-pet-form-container {
        grid-area: pet-form;
        display: grid;
        margin-right: 1.5em;
        padding-top: 3em;
    }

    #pet-svg-container {
        grid-area: pet-setup;
        display: inline-block;
        margin-top: 20%;
        margin-left: 10%;
    }    
}

@media only screen and (max-width:600px) { 
    header {
        padding-top: 50px;
    }
    h1 {
        margin-inline-start: 0.67em;
    }
    main {
        display: grid;
        grid-template-areas: 
        "pet-setup"
        "pet-form";
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 2fr;
    }

    #pet-svg-container {
        grid-area: pet-setup;
        display: inline-block;
        margin-left: 0.5em;
    }
    
    #new-pet-form-container {
        grid-area: pet-form;
        display: grid;
        margin-left: 0.5em;
    }
    
    textarea {
        width: 100%;
    }
}
