body {
  width: 100%;
  height: 100%;

  display: grid; 
  grid-template-columns: 1fr;
  grid-template-rows: 1fr;
  grid-template-areas:
    "body-container";
}

.body-container {
  grid-area: body-container;
  display: block;
}

.pets-wrapper-all{
  display:flex;
  width: 100%;
  flex-direction: row;
  position: absolute;
  justify-content: space-evenly;
  top: 20%;
}

.pet-wrapperCont {
  z-index: 8;
  text-align: center;
  width: 200px;
  height: 200px;
}

.background-container {
  display: block;
  position: relative;
  background-color:#98F5FF;
  /* height: 200%; */
  width: 100%;
}  

.pet-state-flex {
  display: flex;
  flex-direction: column;
}

.pet-state {
  visibility: visible;
  /* position: absolute; */
  display: block;
  height: 50%;
  width: 80%;
  top: -100px;
  background-color: white;
  border-radius: 5%;
  box-sizing: border-box;
  border: 5px solid #fff7c0;
}

meter::-webkit-meter-bar{
  appearance: none;
  background: #EEE;
  box-shadow: 0 2px 3px rgba(0,0,0,0.2) inset;
  border-radius: 3px;
}

meter::-webkit-meter-optimum-value {
  background: #88d8b0;
}
meter::-webkit-meter-suboptimum-value {
  background:  #ffcc5c;
}
meter::-webkit-meter-even-less-good-value  {
  background:  #ff6f69;
}

.img-pet {
  margin-top: 5%;
  margin-right: 20%;
  height: 30px;
  width: 30px;
}

.pet-reaction {
  position: absolute;     
  visibility: hidden;
  z-index: 8;
  font-size: 28px;
  top: 30%;
}

/* ANIMATIONS */
.pet-reaction-animation {
  animation-name: petReaction;
  animation-duration: 5s;
  animation-timing-function: linear;
}

@keyframes petReaction{
  0%   { opacity: 1; }
  50%  { transform: scale(2);  opacity: 0.7; }
  100% {  opacity: 0; }
}

.rollAndMoveRight{
  animation: rollAndMoveRight 5s;
}
@keyframes rollAndMoveRight{
  0%   { left:200px; top:500px; }
  50%  { transform: translate(200px, 0px) rotate(1080deg); }
  100% { left:200px; top:500px; }
}

.rollAndMoveLeft{
  animation: rollAndMoveLeft 5s;
}

@keyframes rollAndMoveLeft{
  0%   { left:200px; top:500px; }
  50%  { transform: translate(-200px, 0px) rotate(1080deg); }
  100% { left:200px; top:500px; }
}

.roll {
  animation: roll ;
  animation-duration: 5s;
  animation-timing-function: linear;
}

@keyframes roll{
  100% {left:300px; transform:rotate(1080deg); }
}

.jumpUp {
  animation: jumpUp;
  animation-duration: 5s;
  animation-timing-function: linear;
}

@keyframes jumpUp{
  0%   { transform: scale(1) translate(0px, 1px); }
  25%  { transform: scale(0.7) translate(0px, -50px); }
  50%  { transform: scale(1.5) translate(0px, -20px); }
  75%  {transform: scale(0.7) translate(0px, -50px); }
  100% { transform: scale(1) translate(0px, 0px); }
}

.moveRight{
  animation: moveRight ;
  animation-duration: 5s;
  animation-timing-function: linear;
}

@keyframes moveRight{
  0%  {left:200px; top:500px;}
  50% {transform: translateX(80px);}
  100% {left:200px; top:500px;}
}

.moveLeft{
  animation: moveLeft ;
  animation-duration: 5s;
  animation-timing-function: linear;
}

@keyframes moveLeft{
  0%  {left:200px; top:500px;}
  50% {transform: translateX(-80px);}
  100% {left:200px; top:500px;}
}


#no-resolution {
  visibility: hidden;
  position: absolute;
}


@media all and (max-width:767px) {
  .background-container{
    /* visibility: hidden; */
    width: 200%;
    height: 200%;
    overflow: hidden;
  }
  .pets {
    flex-direction: column;
    top: 30%;
  }
}

@media only screen and (min-width:768px) and (max-width:959px) { 
  .bkc {
    width : 1000px;
    height: 900px;
  }
  .pets {
    top: 50%;
  }
  meter {
    visibility: hidden;
  }
  .pet-state-flex {
    display: flex;
    flex-direction: row;
  }
  .img-pet{
    width:  35px;
    height: 35px;
  }
  .pet-state {
    height: 80px;
    width: 300px;
    top: -100px;
    left: 20%;
  }
  .pet-reaction {
    font-size: 28px;
  }
}

@media only screen and (min-width:960px) and (max-width:1024px){
  
}

@media only screen and (min-width:1025px) and (max-width:1449px) {
 
  
}
@media all and (min-width: 1450px){
  .pet-wrapper {
    top: 80%;
  }
  .pet-content {
    width: 250px;
    height: 250px;

  }
  .img-pet{
    width:  50px;
    height: 50px;
  }
  .pet-state {
    height: 300px;
    width: 300px;
    top: -300px;
    left: 20%;
  }
  .pet-reaction {
    font-size: 36px;
  }
} 
