body {
    font-family: 'Montserrat', sans-serif;
}

#login-form-container {
    grid-area: login-form;
    margin-right: 1.5em;
    padding-top: 3em;
}

#register-form-container {
    grid-area: register-form;
}

input {
    display: inline;
    margin: 0;
    border: none;
    font-size: inherit;
}

button {
    color: #6ec4db;
    background: white;
}
button:hover {
    border-color: #66ab8c;
    color: #66ab8c;
}

button:active {
    border-color: #fa7c92;
    color: #fa7c92;
}

@media only screen and (min-width:321px) and (max-width:767px) {
    body {
        line-height: 1.5em;
        font-size: 17px;
    }

    .login-register-main {
        width: 90%;
        margin: 0 auto;
        display: grid;
        grid-template-areas: 
        "login-form"
        "register-form";
        padding-top: 3em; 
    }

    button {
        margin-top: 1em;
        padding: 0.7em 2em;
        border: solid 2px #6ec4db;
        font-size: 20px;
    }
}

@media only screen and (min-width:768px) and (max-width:959px) { 
    body {
        line-height: 1.5em;
        font-size: 20px;
    }

    .login-register-main {
        width: 90%;
        margin: 0 auto;
        display: grid;
        grid-template-areas: "login-form register-form";
        padding-top: 3em; 
    }
    
    #register-form-container {
        margin-left: 1.5em;
    }

    button {
        margin-top: 1em;
        padding: 0.7em 2em;
        border: solid 2px #6ec4db;
        font-size: 20px;
    }
}

@media only screen and (min-width:959px) { 
    body {
        line-height: 2em;
        font-size: 20px;
    }

    .login-register-main {
        width: 70%;
        margin: 0 auto;
        display: grid;
        grid-template-areas: "login-form register-form";
        padding-top: 3em; 
    }
    
    #register-form-container {
        margin-left: 1.5em;
    }

    button {
        margin-top: 1em;
        padding: 0.7em 2em;
        border: solid 2px #6ec4db;
        font-size: 20px;
    }
}