body {
    font-family: 'Montserrat', sans-serif;
}

main h1 {
    grid-area: title;
    color: #6ec4db;
}

.pet-container {
    background:rgba(110, 196, 219, 0.7);
    color: beige;
}

.pet-pic {
    grid-area: pet-pic;
}

.pet-info {
    grid-area: pet-info;
}

.pet-friends-container {
    grid-area: pet-friends;
}

#add-pet-btn {
    grid-area: button;
    color: #6ec4db;
    background: white;
    border: solid 2px #6ec4db;
}

#add-pet-btn:hover {
    border-color: #66ab8c;
    color: #66ab8c;
}

#add-pet-btn:active {
    border-color: #fa7c92;
    color: #fa7c92;
}

@media only screen and (min-width:321px) and (max-width:767px) {
    body {
        margin: 3em;
        font-size: 17px;
    }
    main {
        width: 70%;
        display:grid;
        grid-template-areas:
        "title"
        "button"
        "list";
        grid-gap: 1em;
    }
    #pets-list {
        grid-area: list;
        list-style-type:none;
        display:grid;
        grid-template:repeat(2, 1fr) / repeat(1, 1fr);
        grid-gap: 1em;
    }
    .pet-container {
        display: grid;
        grid-template-areas:
        "pet-pic pet-info delete-btn"
        "pet-friends pet-friends .";
    }
    .pet-pic {
        align-self: center;
        justify-self: left;
        height: 7em;
    }
    .pet-info {
        justify-self: left;
        align-self: center;
    }
    .pet-name {
        font-size: 20px;
        font-weight: bold;
    }
    .pet-friends-container h3 {
        padding-left: 1em;
    }
    .pet-friends {
        display: grid;
        grid-template: 1fr / repeat(3, 1fr);
        list-style-type:none;
    }
    
    .pet-friend {
        height: 5em;
    }
    
    .pet-friend img {
        height: 3em;
        width: auto;
    }
    
    .pet-friend-name {
        margin: 0;
    }

    #add-pet-btn {
        padding: 0 0;
        width: 10em;
        height: 3em;
        align-self:center;
        font-size: 20px;
        margin-left: 3em;
    }

    .delete-pet-btn {
        grid-area: delete-btn;
        width: 20px;
        height: auto;
        justify-self: right;
        padding: 1em;
    }
}

@media only screen and (min-width:768px) and (max-width:959px) { 
    body {
        margin: 3em;
        font-size: 17px;
    }
    main {
        width: 90%;
        display:grid;
        grid-template-areas:
        "title button"
        "list list";
        grid-gap: 1em;
    }
    #pets-list {
        grid-area: list;
        list-style-type:none;
        display:grid;
        grid-template:repeat(2, 1fr) / repeat(2, 1fr);
        grid-gap: 1em;
    }
    .pet-container {
        display: grid;
        grid-template-areas:
        "pet-pic pet-info delete-btn"
        "pet-friends pet-friends .";
    }
    .pet-pic {
        align-self: center;
        justify-self: left;
        height: 7em;
    }
    .pet-info {
        justify-self: left;
        align-self: center;
    }
    .pet-name {
        font-size: 20px;
        font-weight: bold;
    }
    .pet-friends-container h3 {
        padding-left: 1em;
    }
    .pet-friends {
        display: grid;
        grid-template: 1fr / repeat(2, 1fr);
        list-style-type:none;
    }
    
    .pet-friend {
        height: 5em;
    }
    
    .pet-friend img {
        height: 3em;
        width: auto;
    }
    
    .pet-friend-name {
        margin: 0;
    }

    #add-pet-btn {
        padding: 0 0;
        width: 10em;
        height: 3em;
        align-self:center;
        font-size: 20px;
        margin-left: 3em;
    }
    .delete-pet-btn {
        grid-area: delete-btn;
        width: 25px;
        height: auto;
        justify-self: right;
        padding: 1em;
    }
}
@media only screen and (min-width:959px) { 
    body {
        margin: 3em;
        font-size: 17px;
    }
    main {
        width: 70%;
        display:grid;
        grid-template-areas:
        "title button"
        "list list";
        grid-gap: 1em;
    }
    #pets-list {
        grid-area: list;
        list-style-type:none;
        display:grid;
        grid-template:repeat(2, 1fr) / repeat(2, 1fr);
        grid-gap: 1em;
    }
    .pet-container {
        display: grid;
        grid-template-areas:
        "pet-pic pet-info delete-btn"
        "pet-friends pet-friends pet-friends";
    }
    .pet-pic {
        align-self: center;
        justify-self: left;
        height: 7em;
    }
    .pet-info {
        justify-self: left;
        align-self: center;
    }
    .pet-name {
        font-size: 20px;
        font-weight: bold;
    }
    .pet-friends-container h3 {
        padding-left: 1em;
    }
    .pet-friends {
        display: grid;
        grid-template: 1fr / repeat(4, 1fr);
        list-style-type:none;
    }
    
    .pet-friend {
        height: 5em;
    }
    
    .pet-friend img {
        height: 3em;
        width: auto;
    }
    
    .pet-friend-name {
        margin: 0;
    }

    #add-pet-btn {
        padding: 0 0;
        width: 10em;
        height: 3em;
        align-self:center;
        font-size: 20px;
        margin-left: 3em;
    }

    .delete-pet-btn {
        grid-area: delete-btn;
        width: 25px;
        height: auto;
        justify-self: right;
        padding: 1em;
    }
}

