html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-family: 'Mali', cursive;
  vertical-align: baseline;
}

/* HEADER */

html {
    height: 100%;
    width: 100%;
}

body {
    width: 100%;
    height: 100%;
    background: linear-gradient(to top, #FA7C92, #FFF7C0);
    margin: 0;
    height: 100%;
    overflow: hidden;
    /* position: relative; */
    /* display: grid; */
    /* grid-template-columns: 1fr;
    grid-template-rows: 100px 1fr 50px;
    grid-template-areas:
    "header"
    "main"
    "footer" */
}
/* 
header {
    grid-area: header;
    background: #FFF7C0;
    padding: 1em 1em;
}

header h1 {
    color: #FA7C92;
} */

/* LOGIN & REGISTER PAGE*/

main {
    grid-area: main;
    background: FFF7C0;
    opacity: 0.7;
    display: grid;
    /* grid-template-rows: 1fr;
    grid-template-columns: 50% 50%; */
    text-align: center;
}

main input {
    padding: 0.5em 1em;
    border-radius: 20px;
    margin: 1em;
}

#login_form_container {
    grid-column: 1 / 2;
    align-self: center;
    justify-self: right;
    margin-right: 4em;
}

#register_form_container {
    grid-column: 2 / 3;
    align-self: center;
    justify-self: left;
    margin-left: 4em;
}

/* FOOTER */

footer {
    grid-area: footer;
    background: #FFF7C0; 
    text-align: center;
}

/* MENU */

.container {
  width: 100%;
  height: 100vh;
  margin: 0 auto;
  overflow: hidden;
}
.menu-container {
  background-color: #66AB8C;
  border-radius: 100%;
  color: white;
  cursor: pointer;
  position: absolute;
  width: 300px;
  height: 300px;
  left: -120px;
  top: -120px;
  transition: all 0.3s;
}

.menu-icon {
  width: 1em;
}
.menu-container.full-menu {
  border-radius: 0;
  padding: 0 !important;
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  transition: all 0.3s;
}
.full-menu .menu {
  top: 40px;
  left: 40px;
}
.menu {
  color: #FFF7C0;
  font-size: 2em;
  position: absolute;
  top: 160px;
  left: 160px;
  z-index: 100;
  transition: all 0.3s;
}
.menu img {
  opacity: 0.7;
  transform: scale(1.2);
  transition: all 0.3s;
}
.menu img:hover {
  opacity: 1;
  transform: scale(1.5);
  transition: all 0.3s;
}
.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 0%;
  opacity: 0;
  visibility: hidden;
  overflow: hidden;
}
.overlay.open {
  opacity: 0.9;
  visibility: visible;
  height: 100%;
}
.overlay.open li {
  animation: fadeInRight 0.5s ease forwards;
  animation-delay: 0.35s;
}
.overlay.open li:nth-of-type(2) {
  animation-delay: 0.4s;
}
.overlay.open li:nth-of-type(3) {
  animation-delay: 0.45s;
}
.overlay.open li:nth-of-type(4) {
  animation-delay: 0.5s;
}
.overlay.open li:nth-of-type(5) {
  animation-delay: 0.5s;
}
.overlay.open li:nth-of-type(6) {
  animation-delay: 0.5s;
}

.overlay nav {
  font-size: 2em;
  position: relative;
  height: 70%;
  top: 50%;
  transform: translateY(-50%);
  font-weight: 400;
  text-align: center;
}
.overlay ul {
  list-style: none;
  padding: 0;
  margin: 0 auto;
  display: inline-block;
  position: relative;
  height: 100%;
}
.overlay ul li {
  display: block;
  height: 25%;
  height: calc(100% / 4);
  min-height: 50px;
  position: relative;
  opacity: 0;
}
.overlay ul li a {
  display: block;
  position: relative;
  color: #FFF7C0;
  text-decoration: none;
  overflow: hidden;
  opacity: 0.7;
  transform: scale(1);
  transition: all 0.3s;
}
.overlay ul li a:hover, .overlay ul li a:focus, .overlay ul li a:active {
  opacity: 1;
  transform: scale(1.2);
  transition: all 0.3s;
}
@keyframes fadeInRight {
  0% {
    opacity: 0;
    left: 20%;
  }
  100% {
    opacity: 1;
    left: 0;
  }
}
h1 {
  font-size: 5em;
  color: #FFF7C0;
  background-color: rgba(255, 0, 106, 0.4);
  border-radius: 100%;
  box-shadow: 0 0 2em 1em rgba(255, 0, 106, 0.4);
  margin: 30vh auto;
  position: relative;
  text-align: center;
  text-shadow: 0 8px 0 rgba(123, 0, 224, 0.4);
  transform: rotate(-12deg);
  width: 800px;
  height: auto;
  z-index: -1;
}

.blob {
  animation: blobby 4s infinite;
}
.blob2 {
  animation: blobby2 6s infinite;
}
@keyframes blobby {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.08);
  }
  100% {
    transform: scale(1);
  }
}
@keyframes blobby2 {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.18);
  }
  100% {
    transform: scale(1);
  }
}
svg {
  position: absolute;
  top: 0;
}
#svg-right {
  display: block;
  fill: #66AB8C;
  opacity: 0.5;
  right: 0;
  width: 60%;
  z-index: -10;
}
#svg-left {
  fill: #6ec4db;
  margin: 0;
  width: 60%;
  z-index: -10;
}
@media all and (max-width: 980px) {
  h1 {
    font-size: 3em;
    
  }
}
@media all and (max-width: 480px) {
  h1 {
    font-size: 2em;
  }
}