<header>
    <h1>Profile Settings</h1>
</header>
<nav class="top-right open">
    <a href="#playground" class="disc l1">
        <div>Playground</div>
    </a>
    <a href="#your-pets" class="disc l2">
        <div>Your Pets</div>
    </a>
    <a href="#your-friends" class="disc l3">
        <div>Friends</div>
    </a>
    <a class="disc l4" onclick="logout()">
        <div>Log out</div>
    </a>
    <a class="disc l5 menuToggle">
        Menu
    </a>
</nav>
<main class="profile-settings-container">
    <form id="update-profile-form" enctype="multipart/form-data">
        <img src="../resources/default-profile-pic.png" id="profile-pic" alt="profile picture">

        <div class="file-upload">
            <div class="file-select">
                <div class="file-select-button" id="fileName">Choose File</div>
                <div class="file-select-name" id="noFile">No file chosen...</div>
                <input type="file" id="upload-profile-pic">
            </div>
        </div>
        
        <div id="profile-info">
            <label for="email">Email: </label>
            <input id="email" type="email" placeholder={{email}} readonly><br>
            <label for="username">Username: </label>
            <input id="username" type="text" placeholder={{username}}><br>
            <label for="country">Country: </label>
            <input id="country" type="text" placeholder={{country}}><br>
            <label for="old-password">Current Password: </label>
            <input id="old-password" type="password"><br>
            <label for="new-password">Type new password: </label>
            <input id="new-password" type="password"><br>
            <button id="update-profile" type="submit">Update Profile</button>
        </div>
    </form>
</main>