<header>
    <h1>Your new pet</h1>
</header>

<nav class="top-right open">
    <a class="disc l2" href="#account">
         <div>Account</div>
    </a>
    <a class="disc l3" href="#your-pets">
         <div>Your Pets</div>
    </a>
    <a class="disc l4" href="#your-friends">
         <div>Friends</div>
    </a>
    <a class="disc l5 menuToggle">
         Menu
    </a>
</nav>

<main>
    <div id="new-pet-form-container">
         <form id="pet-form">
              <label for="pet-select">This is a: </label>
              <select id="pet-select" onchange="changePetSVG()">
                   <option value="penguin-up">Tall Penguin</option>
                   <option value="dog">Dog</option>
                   <option value="cat">Cat</option>
                   <option value="penguin-down">Small Penguin</option>
              </select> <br>
              <label for="pet-name">Pet's name: </label>
              <input id="pet-name" type="text" placeholder="Croco.."><br>
              <label for="pet-age">Age: </label>
              <input id="pet-age" type="text" placeholder="How old is your pet?"><br>
              <label for="pet-color"> Pet's color: </label>
              <select id="pet-color" onchange="changePetColor(value)" >
                   <option value="white">white</option>
                   <option value="blue">Blue</option>
                   <option value="red">Red</option>
                   <option value="yellow">Yellow</option>
                   <option value="green">Green</option>
              </select> <br>
              <label for="pet-eyes-color"> Pet's eyes color: </label>
              <select id="pet-eyes-color" onchange="changePetEyesColor(value)">
                   <option value="white">white</option>
                   <option value="blue">Blue</option>
                   <option value="red">Red</option>
                   <option value="yellow">Yellow</option>
                   <option value="green">Green</option>
              </select><br>
              <label for="pet-description">Description: </label>
              <input id="pet-description" type="text" placeholder="my little pet's story.."><br>
         </form>
    </div>

    <div id="pet-svg-container">
         <div id="pet-wrapper">
              <svg width="500" height="500" xmlns="http://www.w3.org/2000/svg">
                   <ellipse id="penguin-up-belly" stroke="#ffffff" ry="79.99999" rx="62.99999"  cy="196.11998" cx="182.12" stroke-width="5" fill="#ffffff"/>
                   <path stroke="null" id="svg_10" d="m156.4,274.5c-0.9,1.8 -2.5,3.5 -5,5.1c-2.6,1.7 5,-2.1 7.1,5.7c0.9,3.4 -0.5,-6.5 8.8,-2.7c1.5,0.6 -2.7,-2.8 -4.1,-7.5c-2.3,-0.2 -4.5,-0.4 -6.8,-0.6z" fill="#F15A29"/>
                   <path stroke="null" id="svg_11" d="m212.4,279.6c-2.7,-1.8 -4.4,-3.6 -5.2,-5.6c-2.2,0.2 -4.3,0.4 -6.5,0.5c-1.2,5 -5.8,8.7 -4.3,8.1c9.4,-3.8 7.9,6.1 8.8,2.7c2.2,-7.8 9.8,-4 7.2,-5.7z" fill="#F15A29"/>
                   <path stroke="null" fill="black" id="svg_12" d="m266.9,209.1c-9.2,-9.5 -17.9,-19.5 -25.9,-30.1c-2.9,-35.3 -14.7,-67.9 -59.1,-67.9c-39.4,0 -52.9,31.2 -57.5,65.7c-8.4,11.4 -17.6,22.2 -27.5,32.3c-0.3,0.3 -0.6,0.7 -0.7,1.1c-0.1,0.8 0.9,1.3 1.7,1.5c8,2.1 16.6,1.5 24.2,-1.7c-0.1,6.7 -0.1,13.3 -0.1,19.3c0,46 26.8,43.2 59.9,43.2c33.1,0 59.9,2.7 59.9,-43.2c0,-6 0.1,-12.5 0.1,-19.2c7.5,3.1 16.1,3.7 23.9,1.6c0.8,-0.2 1.8,-0.7 1.7,-1.5c0,-0.5 -0.3,-0.8 -0.6,-1.1zm-85,54c-26.4,0 -47.8,0.8 -47.8,-28.7c0,-51.4 9.7,-37.9 47.9,-37.9c35.1,0 47.7,-12.3 47.7,37.9c0,29.5 -21.4,28.7 -47.8,28.7zm0,-79.7c-26.4,0 -52.6,14.2 -47.8,-14.9c10.1,-60.6 42.8,-37.4 47.9,-7.7c4,-29.6 36.8,-56.8 47.7,7.7c4.9,29 -21.4,14.9 -47.8,14.9z"/>
                   <path stroke="null" id="penguin-up-left-eye" d="m174,158.8c-0.2,4.9 -1.5,10.2 -4.9,14.7c-4.9,6.6 -12.8,7 -18.1,0.7c-5.9,-7 -7.2,-15 -3.7,-23.6c1.6,-3.9 4.5,-6.7 8.1,-8.7c5.8,-3.3 12.4,-1.1 16,4.9c1.6,3 2.7,7.3 2.6,12zm-13,3.6c-2.1,-0.1 -3.8,0.2 -5.4,0.7c-2.4,0.7 -3.6,2.2 -3.7,4.4c-0.1,2.3 0.8,4 2.9,5.1c4,2 10.1,-0.6 11.4,-4.9c0.8,-2.6 -0.6,-4.9 -3.4,-5.3c-0.7,-0.1 -1.4,0 -1.8,0zm-5.3,-4.3c-0.3,0.1 -0.9,0.1 -1.5,0.3c-0.9,0.4 -1.8,0.9 -1.5,2.1c0.4,1.3 1.5,1.4 2.6,1.2c0.5,-0.1 0.9,-0.4 1.3,-0.6c0.9,-0.4 1.8,-0.9 1.5,-2.1c-0.2,-1.1 -1.2,-0.9 -2.4,-0.9z"/>
                   <path stroke="null" id="penguin-up-right-eye" d="m218.5,158.8c-0.2,4.9 -1.5,10.2 -4.9,14.7c-4.9,6.6 -12.8,7 -18.1,0.7c-5.9,-7 -7.2,-15 -3.7,-23.6c1.6,-3.9 4.5,-6.7 8.1,-8.7c5.8,-3.3 12.4,-1.1 16,4.9c1.6,3 2.6,7.3 2.6,12zm-13,3.6c-2.1,-0.1 -3.8,0.2 -5.4,0.7c-2.4,0.7 -3.6,2.2 -3.7,4.4c-0.1,2.3 0.8,4 2.9,5.1c4,2 10.1,-0.6 11.4,-4.9c0.8,-2.6 -0.6,-4.9 -3.4,-5.3c-0.7,-0.1 -1.5,0 -1.8,0zm-5.3,-4.3c-0.3,0.1 -0.9,0.1 -1.5,0.3c-0.9,0.4 -1.8,0.9 -1.5,2.1c0.4,1.3 1.5,1.4 2.6,1.2c0.5,-0.1 0.9,-0.4 1.3,-0.6c0.9,-0.4 1.8,-0.9 1.5,-2.1c-0.3,-1.1 -1.3,-0.9 -2.4,-0.9z"/>
                   <path stroke="null" id="svg_16" d="m189.4,167.6c0,0 0,0 0,0c-0.8,-0.8 -14.9,-1 -14.9,0.9c0.1,2.2 1.4,3 6.6,11.1c2.3,3.5 8.9,-11.1 8.3,-12z" fill="#F15A29"/>
              </svg>
         </div>
    </div>

    <button type="submit" onclick="saveNewPet()">Save</button>   
</main>