<header>
    <h1>{{username}}'s Profile</h1>
</header>
<nav class="top-right open">
    <a href="#playground" class="disc l1">
        <div>Playground</div>
    </a>
    <a class="disc l2" href="#your-pets">
        <div>Your Pets</div>
    </a>
    <a href="#your-friends" class="disc l3">
        <div>Friends</div>
    </a>
    <a class="disc l4" href="#account">
        <div>Account</div>
    </a>
    <a class="disc l5 menuToggle">
        Menu
    </a>
</nav>
<main>
    <div id="profile-pic-container">
        <img src="../resources/default-profile-pic.png" id="profile-pic" alt="profile picture"><br>
        <button type="submit">Remove friend</button>
    </div>

    <div id="profile-info">
        <div id="pets-list-container">
            <p>Country: {{country}}</p>
            <h2>{{username}}'s Pets</h2>
            <ul id="pets-list">
                <li class="pet-container">
                    <img class="pet-pic" src="../resources/cat-icon.png" alt="pet picture">
                    <p class="pet-name">Caty</p>
                </li>
                <li class="pet-container">
                    <img class="pet-pic" src="../resources/cat-icon.png" alt="pet picture">
                    <p class="pet-name">Caty</p>
                </li>
                <li class="pet-container">
                    <img class="pet-pic" src="../resources/cat-icon.png" alt="pet picture">
                    <p class="pet-name">Caty</p>
                </li>
                <li class="pet-container">
                    <img class="pet-pic" src="../resources/cat-icon.png" alt="pet picture">
                    <p class="pet-name">Caty</p>
                </li>
            </ul>
        </div>
    </div>

</main>