<nav class="top-right open">
        <a class="disc l3" href="index.html#/account">
            <div>Account</div>
        </a>
        <a class="disc l4" href="index.html#/about">
            <div>About</div>
        </a>
        <a class="disc l5 menuToggle">
            Menu
        </a>
    </nav>
    <main>
        <div id="title">
            <p>W</p>
            <p>E</p>
            <p>L</p>
            <p>C</p>
            <p>O</p>
            <p>M</p>
            <p>E</p>
            <br><br><br><br><br>
            <p>T</p>
            <p>O</p>
            <br><br><br><br><br>
            <p>M</p>
            <p>A</p>
            <p>K</p>
            <p>I</p>
            <p>K</p>
            <p>O</p>
        </div>
    </main>