<div class="body-container">
    <nav class="top-right open">
        <a class="disc l2" href="#account">
            <div>Account</div>
        </a>
        <a class="disc l3" href="#your-pets">
            <div>Your Pets</div>
        </a>
        <a class="disc l4" href="#your-friends">
            <div>Friends</div>
        </a>
        <a class="disc l5 menuToggle">
            Menu
        </a>
    </nav>

    <div class="pets-wrapper-all" id="pets-wrapper-all">

    </div>

    <template id="templatePetWrapper">
        <div class="pet-wrapper">
            <div class="pet-reaction">💖</div>
            <div class="pet-state">
                <div class="pet-state-flex">
                    <div class="pet-xp"></div>
                    <div class="pet-status">
                        <label for="food-level">
                            <img class="img-pet food" alt="pet saturation level" src="../resources/dog-food.png">
                        </label>
                        <meter class="food-level" min="3" max="200" low="50" high="120" optimum="150" value="50"></meter>
                    </div>
                    <div class="pet-status">
                        <label for="sympathy-level">
                            <img class="img-pet heart" alt="pet affection level" src="../resources/heart.png">
                        </label>
                        <meter class="sympathy-level" min="3" max="200" low="50" high="120" optimum="150" value="180"></meter>
                    </div>
                    <div class="pet-status">
                        <label for="energy-level">
                            <img class="img-pet sleepy" alt="pet affection level" src="../resources/bedroom.png">
                        </label>
                        <meter class="energy-level" min="3" max="200" low="50" high="120" optimum="150" value="180"></meter>
                    </div>
                </div>
            </div>
            <div class="pet-content">

            </div>
        </div>
    </template>

    <template id="penguin">
        <object data="resources/pets/penguin-down.svg" type="image/svg+xml"></object>        
    </template>
    <template id="spider">
        <object data="resources/pets/spider.svg" type="image/svg+xml"></object>
    </template>
    <template id="bunny">
        <object data="resources/pets/bunny.svg" type="image/svg+xml"></object>            
    </template>
    <template id="fish">
        <object data="resources/pets/fish.svg" type="image/svg+xml"></object>            
    </template>
    <template id="bird">
        <object data="resources/pets/bird.svg" type="image/svg+xml"></object>
    </template>

    <div class="background-container">
        <object data="resources/background/landscape2.svg" type="image/svg+xml"></object>
    </div>

</div>