<nav class="top-right open">
    <a class="disc l3" href="#home">
        <div>Home</div>
    </a>
    <a class="disc l4" href="#about">
        <div>About</div>
    </a>
    <a class="disc l5 menuToggle">
        Menu
    </a>
</nav>
<main class="login-register-main">
    <div id="login-form-container">
        <h2>Login</h2>
        <form id="login-form">
            <label for="username-login">Username: </label>
            <input id="username-login" type="text" placeholder="Username"><br>
            <label for="password-login">Password: </label>
            <input id="password-login" type="password" placeholder="Password"><br>
            <button type="submit">Login</button>
        </form>
    </div>
    <div id="register-form-container">
        <h2>Register</h2>
        <form id="register-form">
            <label for="email">Email: </label>
            <input id="email" type="email" placeholder="Email"><br>
            <label for="username">Username: </label>
            <input id="username" type="text" placeholder="Username"><br>
            <label for="country">Country: </label>
            <input id="country" type="text" placeholder="Country"><br>
            <label for="password">Password: </label>
            <input id="password" type="password" placeholder="Password"><br>
            <label for="check-password">Retype password: </label>
            <input id="check-password" type="password" placeholder="Password"><br>
            <button type="submit">Register</button>
        </form>
    </div>
</main>