<nav class="top-right open">
    <a href="#playground" class="disc l1">
        <div>Playground</div>
    </a>
    <a href="#your-friends" class="disc l2">
        <div>Your Friends</div>
    </a>
    <a href="#account" class="disc l3">
        <div>Account</div>
    </a>
    <a class="disc l4" onclick="logout()">
        <div>Log out</div>
    </a>
    <a class="disc l5 menuToggle">
        Menu
    </a>
</nav>
<main id="pets-list-container">
    <h1>List of Pets</h1>
    <button id="add-pet-btn" type="submit"> <a href="#add-pet">Add Pet</a></button>
    <ul id="pets-list">
        
    </ul>
</main>