<header>
    <h1>Your Friends</h1>
    <h2>Click on an icon to see more info</h2>
    <!-- <input type="text" id="userSeachFriendsInput" onkeyup="searchFriends()" placeholder="Search for new friends.." title="Type in a name"> -->
</header>
<nav class="top-right open">
    <a href="#playground" class="disc l1">
        <div>Playground</div>
    </a>
    <a href="#your-friends" class="disc l2">
        <div>Friends</div>
    </a>
    <a href="#account" class="disc l3">
        <div>Account</div>
    </a>
    <a class="disc l4" onclick="logout()">
        <div>Log out</div>
    </a>
    <a class="disc l5 menuToggle">
        Menu
    </a>
</nav>
<main id="friends-list-container">
    <ul id="search-list">
        <li class="friend-container">
            <a href="#" id="searchTag">John</a>
            <!-- <div>
                <a class="friend-pic" href="../friend-account/friend-account.html">
                    <img src="../resources/default-profile-pic.png" alt="profile picture">
                </a>
                <div class="friend-info">
                    <p class="friend-name">John Doe</p>
                    <p class="friend-pets-number">John has 3 pets</p>
                </div>
            </div> -->
        </li>
    </ul>

    <ul id="friends-list">
    </ul><br><br>
    <ul id="people-list">
        <h2>People you might know</h2><br>
    </ul>
</main>