body {
    font-family: 'Montserrat', sans-serif;
    margin: 3em;
    font-size: 17px;
}

main {
    width: 70%;
    display: grid;
    grid-template-areas: 
    "pic info"
    "button info";
}

#profile-pic-container {
    grid-area: pic;
    
}

#profile-info {
    grid-area: info;
    justify-self: left;
    padding-left: 2em;
}

#pets-list {
    list-style-type:none;
    display:grid;
    grid-template: repeat(3, 5em) / repeat(3, 1fr);
    grid-gap: 0.5em;
}

.pet-container {
    background:rgba(110, 196, 219, 0.7);
    color: beige;
    display: grid;
    grid-template-areas:
    "pet-pic pet-name";
}

.pet-pic {
    grid-area: pet-pic;
    width: 5em;
}

.pet-name {
    grid-area: pet-name;
    font-size: 30px;
    font-weight: bold;
    padding-right: 1em;
}

button {
    color: #6ec4db;
    background: white;
    border: solid 2px #6ec4db;
    font-size: 20px;
    padding: 0.5em 1em;
    margin-top: 1em;
}

button:hover {
    border-color: #66ab8c;
    color: #66ab8c;
}

button:active {
    border-color: #fa7c92;
    color: #fa7c92;
}