body {
    font-family: 'Montserrat', sans-serif;
}

#profile-pic-container {
    grid-area: pic;
}

#profile-info {
    grid-area: info;
}

#pets-list {
    list-style-type:none;
}

.pet-container {
    background:rgba(110, 196, 219, 0.7);
    color: beige;
}

.pet-pic {
    grid-area: pet-pic;
}

.pet-name {
    grid-area: pet-name;
}

button {
    color: #fa7c92;
    background: white;
    border: solid 2px #fa7c92;
}

button:hover {
    border-color: #66ab8c;
    color: #66ab8c;
}

button:active {
    border-color: red;
    color: red;
}

@media only screen and (min-width:321px) and (max-width:767px) {
    body {
        margin: 1.5em;
        font-size: 15px;
        align-items: center;
    }
    main {
        left: 10%;
        display: grid;
        grid-template-areas: 
        "pic"
        "info";
    }
    #profile-pic-container {
        justify-self: center;
    }
    #profile-info {
        justify-self: center;
    }
    #pets-list {
        display:grid;
        grid-template: repeat(3, 4em) / repeat(1, 1fr);
        grid-gap: 0.5em;
    }
    .pet-container {
        display: grid;
        grid-template-areas:
        "pet-pic pet-name";
    }
    .pet-pic {
        width: 4em;
    }
    .pet-name {
        font-size: 26px;
        font-weight: bold;
        padding-left: 3em;
        padding-right: 3em;
    }
    button {
        font-size: 20px;
        padding: 0.5em 1em;
        margin-top: 1em;
    }
}

@media only screen and (min-width:768px) and (max-width:959px) { 
    body {
        margin: 2em;
        font-size: 15px;
    }
    main {
        width: 80%;
        display: grid;
        grid-template-areas: 
        "pic info"
        "button info";
    }
    #profile-info {
        padding-left: 1em;
        justify-self: left;
    }
    #pets-list {
        display:grid;
        grid-template: repeat(6, 5em) / repeat(2, 1fr);
        grid-gap: 1em;
    }
    .pet-container {
        display: grid;
        grid-template-areas:
        "pet-pic pet-name";
    }
    .pet-pic {
        width: 4em;
    }
    .pet-name {
        font-size: 26px;
        font-weight: bold;
        padding-right: 1em;
    }
    button {
        font-size: 20px;
        padding: 0.5em 1em;
        margin-top: 1em;
    }
}

@media only screen and (min-width:959px) { 
    body {
        margin: 3em;
        font-size: 17px;
    }
    main {
        width: 70%;
        display: grid;
        grid-template-areas: 
        "pic info"
        "button info";
    }
    #profile-info {
        padding-left: 2em;
        justify-self: left;
    }
    #pets-list {
        display:grid;
        grid-template: repeat(3, 5em) / repeat(3, 1fr);
        grid-gap: 0.5em;
    }
    .pet-container {
        display: grid;
        grid-template-areas:
        "pet-pic pet-name";
    }
    .pet-pic {
        width: 5em;
    }
    .pet-name {
        font-size: 30px;
        font-weight: bold;
        padding-right: 1em;
    }
    button {
        font-size: 20px;
        padding: 0.5em 1em;
        margin-top: 1em;
    }
}